* {
    margin: 0;
    font-family: 'Bitter', serif;
}


body {
    background-color: #F7FBFC;
}

header {
    text-align: center;
    padding: 50px 20px;
    display: grid;
    gap: 30px;
    color: #769FCD;
    background-color: #F7FBFC;
}

header h1 {
    font-weight: 800;
}

header span {
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
}


main {
    height: 400px;
    background-color: #D6E6F2;
    display: grid;
    place-content: center center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px 40px 60px 1fr;
    gap: 40px;
    -webkit-box-shadow: 0px 0px 24px -13px #769FCD; 
    box-shadow: 0px 0px 24px -13px #769FCD;
}

main div {
    display: grid;
    justify-content: center;
}

.starting-unit-input {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
}

.starting-unit-input input {
    width: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #769FCD;
    color: #769FCD;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0px;
}

.starting-unit-input input::placeholder {
    text-align: center;
    color: rgba(118, 159, 205, .7)
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

.result-unit {
    display: grid;
    grid-row: 2/3;
    grid-column: 3/4;
}

.result-unit p {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #769FCD;
    color: #769FCD;
    width: 150px;
    text-align: center;
    font-weight: 600;
}

.starting-unit-select {
    grid-column: 2/3;
    grid-row: 3/4;
}


.result-unit-select {
    grid-column: 3/4;
    grid-row: 3/4;
}

select {
    width: 130px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #F7FBFC;
    color: #769FCD;
    border: none;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 24px -13px #769FCD; 
    box-shadow: 0px 0px 24px -13px #769FCD;
}


.operate {
    display: grid;
    grid-row: 4/5;
    grid-column: 2/4;
}

.operate button {
    color: #F7FBFC;
    background-color: #769FCD;
    border-radius: 12px;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 24px -13px #769FCD; 
    box-shadow: 0px 0px 24px -13px #769FCD;
}





.created {
    padding: 20px;
    font-size: 10px;
    font-weight: 700;
    font-style: italic;
    color: #F7CE3E;
}